<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Category</title>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
  </head>
    <body>
      {% for d in Device %}
        <p hidden>{{ d.device_id }}</p>
        <a>Name :- {{ d.device_name }}</a></br>
        <a>Info :- {{ d.device_info }}</a><br>
        <a>Price :- {{ d.device_price }}</a><br>
        {% if d.im.url is not None %}
        <img src="{{ d.im.url }}" width="100" height="100"></br>
        {% endif %}
        <a href = "{% url 'post-update' d.id %}">edit</a><br>
        <a href = "{% url 'post-delete' d.id %}">delete device</a><br>
        {% endfor %}
        <div>
          <a href = "{% url 'category-delete' object.id %}">delete category</a><br>
        </div>

        <a href = "{% url 'homepage' %}">Home</a><br>
      </body>
</HTML>
