<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>We are Vijtech enterprise</h1>
    <ul>
        <li>
            our promies:
            <ul>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
            </ul>
        </li>
        <li>
            our work
            <ul>
                <li>lorem ipsum..</li>
                <li>lorem ipsum..</li>
            </ul>
        </li>
    </ul>
</body>
</html>