<!DOCTYPE HTML>
<HTML>
  <head>
    <title>buying details</title>
  </head>
    <body>
      <p> Here is the item info you are buying {{device}} </p>
      <a>{{ device.device_name }}</a></br>
      <a>{{ device.device_info }}</a><br>
      <a>{{ device.device_price }}</a><br>

        <form action = "{% url 'buy' user.id  %}" method = "post">
        {% csrf_token %}
          <input name = "address" placeholder="address" type = text>
        <input type = submit value = place-order >


      </form>
    <body>
</HTML>
<!-- I have experience in developing web apps with django and flask web framework since 6+ months. -->
<!-- I've been developing projects with python since 1+ years and have experience in SQL of 6+months. -->
