<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>

    <h3>My info:</h3>
    <p>
        <strong>Vishnubhai H Patel</strong></br>
        Electrical engineer
    </p>
    <h3>Shop addrees:</h3>
    <p>
        13, inka chambers ,sarkhej sanand highway , sarkhej , Ahemdabad 380013, Gujarat ,India
    </p>
    <h3>Shop Phone Number:</h3>
    <p>
        +91 9824023824, +91 9924717257
    </p>
    <h3>Google map location:</h3>
</body>
</html>