{% load static %}
{% static "img" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Rangoli</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rangoli' %}">Rangoli</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
              </a>
  
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                <a class="dropdown-item" href="{% url 'category_view' category.device_category %}">{{ category.device_category }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
  
              </div>
  
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_us' %}">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron text-center">
        <h1>This is page for Rangoli Multistores</h1>
        <p>All types of Construction Solution Under One roof.</p>
      </div>
      <div class="container">
        {% for m in machine %}

        <div class="card mb-3" style="max-width: 1040px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{m.image.url}}" class="card-img" alt="{{m.machine_name}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{m.machine_name}}</h5>
                <h6>Specification</h6>
                <p><strong>Chassis  :</strong>{{m.chassis}}</p>
                <p><strong>Batch Capacity  :</strong>{{m.batch_capacity}}</p>
                <p><strong>Power  :</strong>{{m.power}}</p>
                {% if m.mixing_drum %}
                  <p><strong>Mixing Drum  :</strong>{{m.mixing_drum}}</p>
                {% endif %}
                {% if m.speed %}
                  <p><strong>Speed  :</strong>{{m.speed}}</p>
                {% endif %}
                {% if m.drive %}
                  <p><strong>Drive  :</strong>{{m.drive}}</p>
                {% endif %}
                {% if m.wire_rope %}
                  <p><strong>Wire Rope  :</strong>{{m.wire_rope}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <footer class="footer mt-auto py-3 cust-footer">
        <div class="container">
          <span class="text-muted">copyright</span>
        </div>
      </footer>
</body>
</html>